*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f0f0f;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

/* TITULO */

h1{
    text-align:center;
    padding:25px;
    font-size:40px;
    color:#ffffff;
    font-weight:bold;
}

/* CONTENEDOR */

.contenedor-slider{
    width:95%;
    margin:auto;
    position:relative;
}

/* SLIDER */

#slider{
    display:flex;
    gap:20px;
    overflow-x:auto;
    scroll-behavior:smooth;
    padding:20px 10px 40px;
}

#slider::-webkit-scrollbar{
    display:none;
}

/* TARJETAS */

.card{
    min-width:230px;
    max-width:230px;
    background:#1a1a1a;
    border-radius:20px;
    overflow:hidden;
    flex-shrink:0;
    transition:0.3s;
    border:1px solid #2a2a2a;
}

.card:hover{
    transform:translateY(-10px);
}

/* IMAGEN */

.card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

/* INFO */

.info{
    padding:15px;
}

.info h3{
    font-size:18px;
    margin-bottom:10px;
    color:#fff;
}

/* PRECIO */

.precio{
    font-size:22px;
    font-weight:bold;
    color:#00e676;
    margin-bottom:8px;
}

/* STOCK */

.cantidad{
    color:#aaa;
    margin-bottom:15px;
}

/* BOTON */

.btn-carrito{
    width:100%;
    border:none;
    padding:12px;
    border-radius:12px;
    background:#ff4081;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

.btn-carrito:hover{
    background:#ff1f68;
}

/* BOTONES */

#prev,
#next{
    position:absolute;
    top:45%;
    transform:translateY(-50%);
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:rgba(255,255,255,0.1);
    color:white;
    font-size:20px;
    cursor:pointer;
    z-index:10;
    backdrop-filter:blur(5px);
}

#prev{
    left:-10px;
}

#next{
    right:-10px;
}

#prev:hover,
#next:hover{
    background:#ff4081;
}

/* DOTS */

.dots{
    text-align:center;
    margin-bottom:20px;
}

.dots span{
    width:10px;
    height:10px;
    background:#555;
    display:inline-block;
    border-radius:50%;
    margin:5px;
}

.dots .active{
    background:#ff4081;
}


//menu 

.menu{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:15px;
    background:#111;
}

.menu a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.menu a:hover{
    color:#ff4081;
}
